html,
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
  }
  


  body {
    background-image: url("fresh-colourful-ingredients-mexican-cuisine.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 900px;
	font-weight: 100;
    font-family: "Lucida Console", monospace;
  }
  
  .content {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .text-shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      transform: translate(-6px, -6px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }

  table {
    display: inline-block;
    border-collapse: collapse;
    border-radius: 12px;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  th, td {
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  tr {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.747)
  }

  tr:hover {background-color: rgba(229, 162, 157, 0.56);}

  tr:hover th {
    background-color: initial; /* or transparent, or any other style you prefer */
  }
  
  th {
    background-color: rgba(234, 131, 131, 0.444);
    color: rgb(0, 0, 0);
  }

  button {
    font-family: "Lucida Console", monospace;
    gap: 100px;
    border-radius: 12px;
    font-size: 16px;
    background-color: rgb(113, 189, 119);
    color: rgb(0, 0, 0);
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 6px rgba(67, 113, 71, 0.774);
  }

button:hover {
  color: white;
  cursor: pointer;
}

button:active {
    box-shadow: 0 6px rgba(67, 113, 71, 0.774);
    transform: translateY(4px);
  }

  .custom_table {
    font-family: "Monaco";
    font-size: 16px;
    width: 100%; /* Set the width as needed */
    border-collapse: collapse;
}

.custom_table th, .custom_table td {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ffffff;
}

.custom_table tr {
    background-color: rgba(255, 255, 255, 0.506) !important;
}