<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>CodeJam</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

    <div class="content">
        <h2 class="text-shadows" style="font-family: Lucida Console, monospace;">Waste 2 Taste</h2>
    </div>

    <style>
        html{
            font-size: 22px;
        }
        body{
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
      
    <br><br> 
    
    <div class="mycontainer" style="display: inline-block;">
        
        <div class="fridge" style="z-index: 3;" onclick="openDoor()">
            <div class="inside"></div>
            <div class="door"></div>
            <div class="handle1"></div>
            <div class="split"></div>
            <div class="handle2"></div>
        </div>
        <div class="fridge" style="z-index: 1; background-color: white;">
            <div class="close" onclick="closeDoor()"></div>
            <br><br>
            <div>
                <form style="display: inline-flex;" id="updateIng" action="/updateIngredients" method="post">
                <table>
                    <!--Table title-->
                    <tr align="center">
                      <th colspan="3">Your Fridge</th>
                    </tr>
                
                    <!--Column titles-->
                    <tr>
                      <th width="150">Ingredient name</th>
                      <th width="75">Days left</th>
                      <th width="75">Cooked!</th>
                    </tr>
                    
                    {% for ingredient in exp%}
                    <tr>
                        <td>{{ ingredient }}</td>
                        <td style="color: red;">{{ eDays[loop.index-1] }}</td>
                        <td><input type="checkbox"
                             name="{{ e_ids[loop.index-1] }}" 
                             id=""></td>
                    </tr>
                    {% endfor %}
                    {% for ingredient in post%}
                    <tr>
                        <td>{{ ingredient }}</td>
                        <td>{{ days[loop.index-1] }}</td>
                        <td><input type="checkbox"
                             name="{{ i_ids[loop.index-1] }}" 
                             id=""></td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: transparent;">
                        <td style="border: none;"><button type="button" onclick="updateIngredients()">Update Ingredients</button></td>
                        <td style="border: none;"><button type="button" onclick="updateRecipes()">Generate Recipes</button></td>
                    </tr>
                    
                  </table>
                  
        
                </form>
                </div>
        </div>
        <div id="loading-container" style=" display: none; width: 100vw; height: 100vh; position: absolute; top:0; background: rgb(245,245,245); text-align: center; margin-left:-8px;  align-items: center; justify-content: center; z-index: 10; opacity: 100;">
            <div id="">
                <img id="loading-image" src="https://d33wubrfki0l68.cloudfront.net/3dafc215e0dc2be7e854dc25c44c453fdaf4be87/ccccb/uploads/foodrush-loader.gif" alt="Loading..." style="width: 350px"> 
            </div>
        </div>

        
    
        <script>
            function openDoor() {
                var fridge = document.querySelector('.fridge');
                var door = document.querySelector('.door');

                fridge.classList.add('open');
                door.classList.add('open');

                
            }

            function closeDoor(){
                var fridge = document.querySelector('.fridge');
                var door = document.querySelector('.door');

                fridge.classList.remove('open');
                door.classList.remove('open');
            }
        </script>
    
        <div style="margin-left: 400px;">
        <form id="addIngr" style="display: inline-block;">
            <div class="wrapper" style="border-radius: 20px/20px; overflow: hidden;">
                <table id="table" style="display: inline-flex;">
                    <!--Column titles-->
                    
                    <tbody id="tbody">
                    <tr> 
                        <th width="200">Ingredient</th>
                        <th colspan="2" width="240">Expiry date</th>
                    </tr>
                    <!--Input row-->
                    <tr align="center">
        
                        <!--Type ingredient name column-->
                        <td>
                            <label for="ingredient"></label>
                            <input type="text" id="ingredient" name="ingredient" placeholder="Type in an ingredient...">
                        </td>
                        
                        <!--Select expiry date column-->
                        <td colspan="2" width="240">
                            <label for="expdate"></label>
                            <input type="date" id="expdate" name="expdate">
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <br>
            <table>
                <tr style="background-color: transparent;">
                    <td style="border: none; text-align: left;"><button type="submit">Add More</button></td> 
                </tr>
                <tr style="background-color: transparent;">
                    <td style="border: none; text-align: left;"><button type="button" onclick="submitAdd()">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
      
    

        <form id="ingrList" style="display: none;" method="post" action="/add">
            <input name="iList" type="text" id="iList" value="">
            <input name="eList" type="text" id="eList" value="">
        </form>
        <br>
        
        <br><br><br><br><br>
        
         
        <br>
        
           
        <form method="post" action="/updateRecipes" id="updateRecipes"></form>
 
        <div class="content">
            {% block content %}{% endblock %}
        </div>
       
    </div>
    <div class="mycontainer" style="display: inline-flex; vertical-align: top;">
        
        <form id="recipe" style="display: none;" action="/loadRecipe" method="post">
            <input type="text" name="displayRecipe" id="displayRecipe">
        </form>
            <div class="wrapper" style="border-radius: 25px/25px; overflow: hidden;">
                <table style="display: inline-flex;">
                    <tbody>
                    {% if data %}
                    <tr>
                        <th width="250px">Possible recipes 
                        <div class="circle bounce2" style="display: inline-block; position: fixed; margin-left: 10px; margin-top: -5px;"></div>
                        </th>
                    </tr>
                    {% endif %}
                    {% for recipe in data %}
                    <tr>
                       <td class="recipe" id="r{{loop.index-1}}" name="{{ recipe }}" onclick="showAssocRes(id)">{{ recipe }}</td>
                    </tr>
                
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           
    </div>

    {% if return_rec %}
    <div style="display: inline-flex; max-height: 500px; vertical-align: top; overflow: scroll; border-radius: 25px/25px;">
        <table class="custom_table">
            <thead>
                <tr align="center">
                    <th width=300px;><a href="{{ return_rec[4] }}">{{ return_rec[0] }}</a></th>
                    <!-- Add more headers if needed -->
                </tr>
            </thead>
            <tbody>
                <tr><td width=100px;><img src="{{ return_rec[3]  }}" style="max-width: 200px;" alt=""> </td></tr>
                <tr>
                    <td>
                        <div style="font-size: 12px; overflow: scroll;">
                        {% for instruction in return_rec[2] %}
                            {{ loop.index}}. {{ instruction }}
                            <br>
                        {% endfor %}
                    </div>
                </td>
                    
                </tr>
                <!-- Add more rows if needed -->
            </tbody>
        </table>
    </div>
    {% endif %}

    
    <script>
      const form = document.getElementById("addIngr");
      const tbody = document.getElementById("tbody");
      const table = document.getElementById("table");

      var counter = 0;
      var ids = [];

      function validateDate(date) {
            // Get the input element

            // Get the entered date value
            var enteredDate = new Date(date);
            // Get the current date
            var currentDate = new Date();
            // Compare the entered date with the current date
            return enteredDate >= currentDate;
        }
    
       function replaceWEmpty(inputString, i) {
        var parts = inputString.split(",");
        for (var j = 0; j < parts.length; j++) {
            if (j == i) {
                parts[j] = "";
            }            
        }
        return(parts.join(","));
       }
        

      function onAddWebsite(e) {
        e.preventDefault();
        const ingredient = document.getElementById("ingredient").value;
        var expdate = document.getElementById("expdate").value;

        if (ingredient=="" || expdate==""){
            alert("Please fill in all fields");
        } else if (!validateDate(expdate)){
            alert("Please enter a valid date");
        }
        else{
            document.getElementById("iList").value += ingredient + ",";
            document.getElementById("eList").value += expdate + ",";
            tbody.innerHTML += `
            <tr style="background-color: transparent;">
                <td style="border-bottom: 1px solid black; border-spacing: 0;">${ingredient}</td>
                <td style="border-bottom: 1px solid black; border-spacing: 0;">${expdate}</td>
                <td style="border-bottom: none; border-spacing: 0;" id="${counter}"><button class = "deleteBtn">Delete</button></td>
            </tr>
            `;
            counter++;
        }

      }

      function onDeleteRow(e) {
        if (!e.target.classList.contains("deleteBtn")) {
          return;
        }
        const btn = e.target;
        tdId = btn.closest("td").id;
        document.getElementById("iList").value = replaceWEmpty(document.getElementById("iList").value, tdId);
        document.getElementById("eList").value = replaceWEmpty(document.getElementById("eList").value, tdId);
        btn.closest("tr").remove();
      }
      form.addEventListener("submit", onAddWebsite);
      document.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          onAddWebsite(e);
        }
      });
      table.addEventListener("click", onDeleteRow);
    </script>

    <script>

        function submitAdd() {
            closeDoor();
            setTimeout(function(){ 
                var form = document.getElementById("ingrList");
                form.submit();
            }, 500);
        }
        function updateIngredients() {
            closeDoor();
            setTimeout(function(){ 
                var form = document.getElementById("updateIng");
                form.submit();
            }, 500);
        }
        function updateRecipes() {
            closeDoor();
            setTimeout(function(){ 
                var form = document.getElementById("updateRecipes");
                form.submit();
                var loadingContainer = document.getElementById('loading-container');
                loadingContainer.style.display = 'flex';
            }, 500);
        }
        function showAssocRes(id) {
            closeDoor();
            setTimeout(function(){ 
                var rName = document.getElementById(id).innerHTML
                document.getElementById("displayRecipe").value = rName;
                var form = document.getElementById("recipe");
                form.submit();

            }, 500);
        }
    </script>
    

</body>


 