<!DOCTYPE html>
<html lang="en">





<head>
    <meta charset="UTF-8">
    <title>CodeJam</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

    <div class="content">
        <h2 class="text-shadows">Waste2Taste</h2>
    </div>

    <style>
        html{
            font-size: 22px;
        }
        body{
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
      
    <br><br> 
    
    <div class="mycontainer" style="display: inline-block;">
        
        <div class="fridge" style="z-index: 3;" onclick="openDoor()">
            <div class="inside"></div>
            <div class="door"></div>
            <div class="handle"></div>
        </div>
        <div class="fridge" style="z-index: 1; background-color: white;">
            <div class="close" onclick="openDoor()"></div>
            <br><br>
            <div>
                <form style="display: inline-flex;" id="updateIng" action="/updateIngredients" method="post">
                <table>
                    <!--Table title-->
                    <tr align="center">
                      <th colspan="3">Previously entered items</th>
                    </tr>
                
                    <!--Column titles-->
                    <tr>
                      <th width="150">Ingredient name</th>
                      <th width="75">Days left</th>
                      <th width="75">Cooked!</th>
                    </tr>
                    
                    {% for ingredient in exp%}
                    <tr>
                        <td>{{ ingredient }}</td>
                        <td style="color: red;">{{ eDays[loop.index-1] }}</td>
                        <td><input type="checkbox"
                             name="{{ e_ids[loop.index-1] }}" 
                             id=""></td>
                    </tr>
                    {% endfor %}
                    {% for ingredient in post%}
                    <tr>
                        <td>{{ ingredient }}</td>
                        <td>{{ days[loop.index-1] }}</td>
                        <td><input type="checkbox"
                             name="{{ i_ids[loop.index-1] }}" 
                             id=""></td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: transparent;">
                        <td style="border: none;"><button type="button" onclick="updateIngredients()">Update Ingredients</button></td>
                        <td style="border: none;"><button type="button" onclick="updateRecipes()">Generate Recipes</button></td>
                    </tr>
                    
                  </table>
                  
        
                </form>
                </div>
        </div>
        <div id="loading-container" style="display: none; width: 100vw; height: 100vh; position: absolute; top:0; background: rgba(255, 255, 255, 0.8); text-align: center; z-index: 10; opacity: 100;">
            <img id="loading-image" style="height: 100vh; width: 100vw;" src="https://cdn.dribbble.com/users/655390/screenshots/2186909/loader-for-dribble.gif" alt="Loading..." style="width: 1500px; height: 800px;"> 
        </div>
        
    
        <script>
            function openDoor() {
                var fridge = document.querySelector('.fridge');
                var door = document.querySelector('.door');
    
                // Toggle the 'open' class to rotate the door
                fridge.classList.toggle('open');
                door.classList.toggle('open');
            }
        </script>
    
        <div style="margin-left: 400px;">
        <form id="addIngr" style="display: inline-block;">
            <table id="table" style="display: inline-flex;">
                <!--Column titles-->
                
                <tbody id="tbody">
                <tr> 
                    <th width="200">Ingredient</th>
                    <th colspan="2" width="240">Expiry date</th>
                </tr>
                <!--Input row-->
                <tr align="center">
    
                    <!--Type ingredient name column-->
                    <td>
                        <label for="ingredient"></label>
                        <input type="text" id="ingredient" name="ingredient" placeholder="Type in an ingredient...">
                    </td>
                    
                    <!--Select expiry date column-->
                    <td colspan="2" width="240">
                        <label for="expdate"></label>
                        <input type="date" id="expdate" name="expdate">
                    </td>
                </tr>
            </tbody>
            </table>
            <br>
            <table>
                <tr style="background-color: transparent;">
                    <td style="border: none; text-align: left;"><button type="submit">Add Ingredient</button></td> 
                </tr>
                <tr style="background-color: transparent;">
                    <td style="border: none; text-align: left;"><button type="button" onclick="submitAdd()">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
      
    

        <form id="ingrList" style="display: none;" method="post" action="/add">
            <input name="iList" type="text" id="iList" value="">
            <input name="eList" type="text" id="eList" value="">
        </form>
        <br>
        
        <br><br><br><br><br>
        
         
        <br>
        
           
        <form method="post" action="/updateRecipes" id="updateRecipes"></form>
 
        <div class="content">
            {% block content %}{% endblock %}
        </div>
       
    </div>
    <div class="mycontainer" style="display: inline-flex; vertical-align: top;">
        <form id="recipe" style="display: none;" action="/loadRecipe" method="post">
            <input type="text" name="displayRecipe" id="displayRecipe">
        </form>
            <table style="display: inline-flex;">

                <!--Column title-->
                {% if data %}
                <tr>
                    <th>Possible recipes</th>
                </tr>
                {% endif %}
                {% for recipe in data %}
                <tr>
                   <td id="r{{loop.index-1}}" name="{{ recipe }}" onclick="showAssocRes(id)">{{ recipe }}</td>
                </tr>
            
                {% endfor %}
               
            </table>
    </div>

    <div style="display: inline-flex; max-height: 500px; vertical-align: top; overflow: scroll;">
        <table class="custom_table">
            <thead>
                <tr align="center">
                    <th width=300px;><a href="{{ return_rec[4] }}">{{ return_rec[0] }}</a></th>
                    <!-- Add more headers if needed -->
                </tr>
            </thead>
            <tbody>
                <tr><td width=100px;><img src="{{ return_rec[3]  }}" style="max-width: 200px;" alt=""> </td></tr>
                <tr>
                    <td>
                        <div style="font-size: 12px; overflow: scroll;">
                        {% for instruction in return_rec[2] %}
                            {{ loop.index}}. {{ instruction }}
                            <br>
                        {% endfor %}
                    </div>
                </td>
                    
                </tr>
                <!-- Add more rows if needed -->
            </tbody>
        </table>
    </div>
 
    
    <script>
      const form = document.getElementById("addIngr");
      const tbody = document.getElementById("tbody");
      const table = document.getElementById("table");

      var counter = 0;
      var ids = [];

      function validateDate(date) {
            // Get the input element

            // Get the entered date value
            var enteredDate = new Date(date);
            // Get the current date
            var currentDate = new Date();
            // Compare the entered date with the current date
            return enteredDate >= currentDate;
        }
    
       function replaceWEmpty(inputString, i) {
        var parts = inputString.split(",");
        for (var j = 0; j < parts.length; j++) {
            if (j == i) {
                parts[j] = "";
            }            
        }
        return(parts.join(","));
       }
        

      function onAddWebsite(e) {
        e.preventDefault();
        const ingredient = document.getElementById("ingredient").value;
        var expdate = document.getElementById("expdate").value;

        if (ingredient=="" || expdate==""){
            alert("Please fill in all fields");
        } else if (!validateDate(expdate)){
            alert("Please enter a valid date");
        }
        else{
            document.getElementById("iList").value += ingredient + ",";
            document.getElementById("eList").value += expdate + ",";
            tbody.innerHTML += `
            <tr style="background-color: transparent;">
                <td style="border-bottom: 1px solid black; border-spacing: 0;">${ingredient}</td>
                <td style="border-bottom: 1px solid black; border-spacing: 0;">${expdate}</td>
                <td style="border-bottom: none; border-spacing: 0;" id="${counter}"><button class = "deleteBtn">Delete</button></td>
            </tr>
            `;
            counter++;
        }

      }

      function onDeleteRow(e) {
        if (!e.target.classList.contains("deleteBtn")) {
          return;
        }
        const btn = e.target;
        tdId = btn.closest("td").id;
        document.getElementById("iList").value = replaceWEmpty(document.getElementById("iList").value, tdId);
        document.getElementById("eList").value = replaceWEmpty(document.getElementById("eList").value, tdId);
        btn.closest("tr").remove();
      }
      form.addEventListener("submit", onAddWebsite);
      document.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          onAddWebsite(e);
        }
      });
      table.addEventListener("click", onDeleteRow);
    </script>

    <script>

        function submitAdd() {
            var form = document.getElementById("ingrList");
            form.submit();
        }
        function updateIngredients() {
            var form = document.getElementById("updateIng");
            form.submit();
        }
        function updateRecipes() {
            var form = document.getElementById("updateRecipes");
            form.submit();
            var loadingContainer = document.getElementById('loading-container');
            loadingContainer.style.display = 'block';
        }
        function showAssocRes(id) {
            var rName = document.getElementById(id).innerHTML
            document.getElementById("displayRecipe").value = rName;
            var form = document.getElementById("recipe");
            form.submit();
        }
    </script>
    

</body>


 